/* estilos.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow-x: hidden; /* Evita scroll horizontal innecesario */
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("background.png"); /* Ruta a tu imagen */
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1; /* Fondo */
}

.content {
    position: relative;
    z-index: 1; /* Contenido encima de la imagen */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el contenido ocupe al menos el 100% del viewport */
    color: white; /* Color de texto predeterminado (puedes ajustarlo) */
}

header {
    background-color: #1a053c;
    color: #a020f0;
    text-align: center;
    padding: 1em 0;
    animation: fuego 5s infinite;
}

@keyframes fuego {
    0% {
        text-shadow: 0 0 10px #8a2be2, 0 0 20px #9400d3, 0 0 30px #9932cc;
    }
    50% {
        text-shadow: 0 0 20px #9400d3, 0 0 30px #9932cc, 0 0 40px #8a2be2;
    }
    100% {
        text-shadow: 0 0 10px #9932cc, 0 0 20px #8a2be2, 0 0 30px #9400d3;
    }
}

main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 20px auto;
}

.juegos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.tab-button {
    color: red;
    display: inline-block;
    margin: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease-in;
}

.juegos a {
    display: inline-block;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease-in;
}

.juegos a img {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.juegos a:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.juegos img {
    width: 128px;
    height: 128px;
    display: block;
    margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    color: red;
}

.juegos span {
    display: block;
    margin-top: 5px;
    text-align: center;
    font-size: 14px;
    color: #333;
}

footer {
    background-color: #1a053c;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    width: 100%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
