#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000; /* O el color que desees */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
    z-index: 9999; /* Asegura que esté por encima de todo */
}

.hidden {
    display: none !important;
}

main {
    display: none; /* Oculta el contenido principal hasta que se cargue la página */
}
/* ... el resto de tu CSS */