#cookieBanner {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 20px;
    z-index: 10000;
}

#cookieBanner button {
    background-color: #f04;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
}

#cookieBanner button:hover {
    background-color: #c00;
}
